%div#game-console
  %h2
    = @game_player.player.name
    
    %span
      %strong
      You have armies
      = @game_player.armies_to_allocate
      to allocate
    %span.notice
      = flash[:notice] if flash[:notice]
  %form
    %fieldset
      %ol
        %li
          %label Your countries
          %select{:id => "country_id"}
            - @game_player.countries.each do |c|
              %option{:value => c.id}
                = c.name
        %li
          %label Available armies
          %select{:id => "armies"}
            - @game_player.armies_to_allocate.times do |t|
              %option
                = t+1
          
        %li
          %input{:type=> "button", :onclick => "allocate_armies(#{@game_player.game_id},#{@game_player.id})",:value => "allocate"}
