%div#game-console
  %h2{:class => @game_player.colour}
    = @game_player.player.name
    %span
      Are you ready to kick some arse?
    %span.notice
      = flash[:notice] if flash[:notice]

  %form
    %fieldset
      %ol
        %li
          %input{:type=> "button", :onclick => "pass_turn(#{@game_player.game_id},#{@game_player.id})",:value => "Pass turn"}
        %li
          %label Attack from
          %select{:id => "attacker_country_id", :onchange => "get_neighbours(#{@game_player.id}, #{@game_player.game_id})"}
            %option Please choose
            - @game_player.armed_countries.each do |c|
              %option{:value => c.id}
                = c.name
          
        %span#attack_target

