!!! Strict
%html{"xml:lang" => "en-au", :lang => "en-au", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible"}
    %title Risque
    = javascript_include_tag 'jquery-1.2.6.pack', :cache => true
    = javascript_include_tag 'risk'
    %script
      = "var global_token = '" + form_authenticity_token + "';"
    = stylesheet_link_tag 'reset', 'risk'
    
  %body
    %div#container
      %h1
        Risque
        %span.notice
        - flash[:notice] if flash[:notice]
        
    
      = yield :layout
  
